torch
torchvision
transformers==4.35.2
tokenizers==0.14.1
sentencepiece
pathspec==0.10.3
huggingface_hub==0.17.3
accelerate==0.25.0
datasets
underthesea
pyvi
sentence-transformers
faiss-cpu
evaluate
rouge-score
sacrebleu
mlflow
fastapi
uvicorn
pydantic
pandas
python-dotenv
tqdm
trafilatura
beautifulsoup4
requests
newspaper4k
PyYAML
boxsdk
types-PyYAML
ensure
python-box
scipy
setuptools
dagshub
dvc
dvc-s3
awscli


-e .